apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres
spec:
  serviceName: postgres-headless
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      nodeSelector:
        role: postgresdb
      containers:
        - name: postgres
          image: postgres:15
          ports:
            - containerPort: 5432
          env:
           - name: POSTGRES_USER
             value: postgres 
           - name: POSTGRES_PASSWORD
             value: postgres
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: postgres-pvc