apiVersion: apps/v1
kind: Deployment
metadata:
  name: result
  labels:
    app: result
spec:
  replicas: 5
  selector:
    matchLabels:
      app: result
  template:
    metadata:
      labels:
        app: result
    spec:
      nodeSelector:
        role: mainapp
      initContainers:
        - name: wait-for-postgres
          image: busybox:1.36
          command:
            - sh
            - -c
            - |
              echo "Waiting for Postgres to be ready..."
              until nc -z postgres-0.postgres-headless 5432 >/dev/null 2>&1; do
                echo "Postgres not ready, retrying..."
                sleep 2
              done
              echo "Postgres is ready!"
      containers:
        - name: result
          image: neerajdeveloper/result:latest
          ports:
            - containerPort: 8080
          env:
            - name: POSTGRES
              value: postgres-0.postgres-headless.svc.cluster.local
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: result-service
spec:
  selector:
    app: result
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
