apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
  labels:
    app: worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      nodeSelector:
        role: mainapp
      initContainers:
        - name: wait-for-postgres
          image: busybox:1.36-glibc
          command:
          - sh
          - -c
          - |
            echo "Waiting for Postgres to be ready..."
            until nc -z postgres-0.postgres-headless 5432 >/dev/null 2>&1; do
              echo "Postgres not ready, retrying..."
              sleep 2
            done
            echo "Postgres is ready!"
        - name: wait-for-redis
          image: busybox:1.36
          command:
            - sh
            - -c
            - |
              echo "Waiting for Redis..."
              until nc -vz redis-headless 6379 >/dev/null 2>&1; do
                echo "Redis not ready, retrying..."
                sleep 2
              done
              echo "Redis is ready!"
      containers:
        - name: worker
          image: dockersamples/examplevotingapp_worker
          env:
            - name: REDIS
              value: redis-headless.default.svc.cluster.local
            - name: POSTGRES_HOST
              value: postgres-headless.default.svc.cluster.local
            - name: POSTGRES_PORT
              value: "5432"
            - name: POSTGRES_DB
              value: postgres
            - name: POSTGRES_USER
              value: petclinic
            - name: POSTGRES_PASSWORD
              value: postgres
---
apiVersion: v1
kind: Service
metadata:
  name: worker-service
spec:
  selector:
    app: worker
  ports:
    - port: 8080
      targetPort: 8080